# This is a template for a .env file
# Best practice is to store all your `sensitive` information
# in one of these files. This may include passwords, user names
# API keys and other information that would potentially impact
# privacy or account security.

USERNAME=someusername
PASSWORD=somepassword
API_KEY=someapikey