cff-version: 1.2.0
message: "If you use this software, please cite it as below."
authors:
- family-names: {{ author_formal }}
given-names: {{ author_given }}
orcid: {{ author_orcid}}
title: {{ project_name }}
version: {{ project_version }}
doi: {{ project_doi }}
date-released: {{ project_date }}
url: https://github.com/{{project_repository}}/{{ project_URL }}