{% if code_of_conduct_lang =='code_de' %}

# Contributor Covenant 3.0 (deutsche Übersetzung)

## Unser Versprechen

Wir verpflichten uns dazu, unsere Gemeinschaft offen, sicher und fair für alle zu gestalten.

Wir setzen uns ein für ein Umfeld, das die Würde, Rechte und Beiträge aller Beteiligten respektiert und würdigt – unabhängig von Merkmalen wie Rasse, Ethnie, Kaste, Hautfarbe, Alter, körperlichen Eigenschaften, Neurodiversität, Behinderung, Geschlecht oder Geschlechtsidentität, sexueller Orientierung, Sprache, Philosophie oder Religion, nationaler oder sozialer Herkunft, sozioökonomischer Stellung, Bildungsniveau oder anderem Status. Die gleichen Teilhaberechte gelten für alle, die in guter Absicht und gemäß diesem Verhaltenskodex teilnehmen.

## Erwünschte Verhaltensweisen

Wir erkennen Unterschiede in sozialen Normen an und bemühen uns, die Erwartungen unserer Gemeinschaft an ein positives Verhalten zu erfüllen. Wir verstehen auch, dass unsere Worte und Handlungen je nach Kultur, Hintergrund oder Muttersprache unterschiedlich interpretiert werden können.

Vor diesem Hintergrund verpflichten wir uns zu einem achtsamen Umgang miteinander und zu Handlungen, die unsere gemeinsamen Werte in den Mittelpunkt stellen. Dazu zählen:

1. Respekt vor dem **Zweck unserer Gemeinschaft**, unseren Aktivitäten und unseren Formen des Zusammenkommens.  
2. **Freundlicher und ehrlicher** Umgang miteinander.  
3. Respekt vor **unterschiedlichen Standpunkten** und Erfahrungen.  
4. **Verantwortung übernehmen** für unser Handeln und unsere Beiträge.  
5. **Konstruktives Feedback** geben und annehmen.  
6. **Schäden wiedergutmachen**, wenn sie entstehen.  
7. Weitere Verhaltensweisen, die das **Wohlbefinden unserer Gemeinschaft** fördern und erhalten.

## Inakzeptable Verhaltensweisen

Wir verpflichten uns, die folgenden Verhaltensweisen in unserer Gemeinschaft zu unterbinden. Vorfälle, Drohungen und die Förderung dieser Verhaltensweisen stellen Verstöße gegen diesen Verhaltenskodex dar.

1. **Belästigung.** Missachtung ausdrücklich geäußerter Grenzen oder fortgesetzte unnötige Kontaktaufnahme nach einer klaren Aufforderung, dies zu unterlassen.  
2. **Persönliche Angriffe.** Beleidigende, herabwürdigende oder abwertende Kommentare gegenüber einem Gemeinschaftsmitglied oder einer Gruppe.  
3. **Stereotypisierung oder Diskriminierung.** Bewertung oder Beurteilung von Personen aufgrund unveränderlicher Identitätsmerkmale.  
4. **Sexualisierung.**  Sexualisierte Sprache, Bilder oder Verhalten, das im Kontext der Gemeinschaft als unangemessen gilt.  
5. **Bruch der Vertraulichkeit.** Weitergabe oder Nutzung persönlicher oder privater Informationen ohne Erlaubnis.  
6. **Gefährdung.** Verursachung, Förderung oder Androhung von Gewalt jeder Art gegenüber Personen oder Gruppen.  
7. Weitere Verhaltensweisen, die das **Wohlbefinden unserer Gemeinschaft gefährden**.

### Weitere inakzeptable Verhaltensweisen

1. **Identitätstäuschung.** Sich als jemand anderes ausgeben, insbesondere um Maßnahmen bei Verstößen zu umgehen.  
2. **Fehlende Quellenangaben.** Verwendung fremder Inhalte ohne ordnungsgemäße Quellenangabe.  
3. **Werbung.** Teilen von Marketing- oder kommerziellen Inhalten außerhalb der Gemeinschaftsnormen.  
4. **Unverantwortlicher Umgang mit Inhalten.** Unverantwortliche Präsentation von Inhalten, die unerwünschte Verhaltensweisen enthalten, verlinken oder beschreiben.

## Melden eines Vorfalls

Spannungen können auch bei bestem Bemühen um Zusammenarbeit entstehen. Nicht jeder Konflikt stellt einen Verstoß gegen den Verhaltenskodex dar; dieser Verhaltenskodex fördert erwünschte Verhaltensweisen und Normen, die helfen, Konflikte zu vermeiden und Schäden zu minimieren.

Wenn ein Vorfall eintritt, ist es wichtig, ihn umgehend zu melden. Um einen möglichen Verstoß zu melden, **[ANMERKUNG: Beschreiben Sie hier Ihr Meldeverfahren.]**

Moderator:innen nehmen Meldungen von Verstößen ernst und bemühen sich um eine zeitnahe Reaktion. Sie untersuchen alle Meldungen, prüfen Nachrichten, Protokolle und Aufzeichnungen oder befragen Zeugen und andere Beteiligte. Moderator:innen halten Untersuchungen zu und Maßnahmen bei Verstößen so transparent wie möglich, wobei Sicherheit und Vertraulichkeit Vorrang haben. Maßnahmen zur Durchsetzung des Verhaltenskodex  erfolgen privat mit den beteiligten Parteien, aber eine Kommunikation an die gesamte Gemeinschaft kann Teil einer einvernehmlich verabredeten Lösung sein.

## Umgang mit Verstößen und Wiedergutmachung 

**[ANMERKUNG: Die unten aufgeführten Maßnahmen bei Verstößen und zur Wiedergutmachung sind Vorschläge basierend auf bewährten Praktiken der Durchsetzung von Verhaltenskodizes. Wenn Ihre Gemeinschaft eigene Verfahren hat, passen Sie diesen Abschnitt entsprechend an.]**

Stellt das Moderationsteam nach einer Untersuchung einen Verstoß gegen diesen Verhaltenskodex fest, kann das folgende Eskalationsverfahren angewendet werden. Die Wahl der Maßnahme hängt von der Auswirkung des Vorfalls auf die Beteiligten und die Gemeinschaft ab. Je nach Schwere des Verstoßes können niedrigere Stufen übersprungen werden.

1. Verwarnung  
   1. Ereignis: Ein Verstoß, der einen einzelnen Vorfall oder eine Reihe von Vorfällen umfasst.  
   2. Konsequenz: Eine private, schriftliche Verwarnung durch die Moderator:innen.  
   3. Wiedergutmachung: Beispiele sind eine private, schriftliche Entschuldigung, Übernahme der Verantwortung und das Einholen von Klarstellungen zu den Erwartungen.  
2. Vorübergehende Einschränkung von Aktivitäten  
   1. Ereignis: Wiederholtes Auftreten eines Verstoßes nach einer Verwarnung oder ein erstmaliger schwerwiegender Verstoß.  
   2. Konsequenz: Eine private, schriftliche Verwarnung mit einer zeitlich begrenzten Auszeit, um die Ernsthaftigkeit zu unterstreichen und den Beteiligten Zeit zur Verarbeitung zu geben. Diese Auszeit kann auf bestimmte Kommunikationskanäle oder Interaktionen beschränkt sein.  
   3. Wiedergutmachung: Beispiele sind eine Entschuldigung, Reflexion während der Auszeit und achtsamer Wiedereintritt in die Gemeinschaft.  
3. Vorübergehende Sperre  
   1. Ereignis: Ein Muster wiederholter Verstöße, die das Moderationsteam bereits mit Verwarnungen zu behandeln versucht hat, oder ein einzelner schwerwiegender Verstoß.  
   2. Konsequenz: Eine private, schriftliche Verwarnung mit Bedingungen für eine Aufhebung der Sperre. Die Sperre dient der Reflexion über das Verhalten und mögliche Korrekturmassnahmen.  
   3. Wiedergutmachung: Beispiele sind die Respektierung des Sinns der Sperre, Erfüllung der Bedingungen für eine Aufhebung der Sperre und achtsame Wiedereingliederung in die Gemeinschaft.  
4. Dauerhafter Ausschluss  
   1. Ereignis: Ein Muster wiederholter Verstöße gegen den Verhaltenskodex, das durch andere Stufen der Eskalation nicht behoben werden konnte, oder ein so schwerwiegender Verstoß, dass das Moderationsteam keine Möglichkeit sieht, die Gemeinschaft mit dieser Person sicher zu halten.  
   2. Konsequenz: Der Zugang zu allen Gemeinschaftsbereichen, Tools und Kommunikationskanälen wird entzogen. Dauerhafte Sperren sollten selten angewendet werden, gut begründet sein und nur dann erfolgen, wenn die Anwendung anderer Maßnahmen das Verhalten nicht ändern konnte.  
   3. Wiedergutmachung: In Fällen dieser Schwere ist keine Wiedergutmachung möglich.

Dieses Eskalationsverfahren dient als Richtlinie. Es schränkt die Fähigkeit der Gemeinschaftsleitung nicht ein, nach eigenem Ermessen und im besten Interesse unserer Gemeinschaft zu handeln.

## Geltungsbereich

Dieser Verhaltenskodex gilt in allen Gemeinschaftsbereichen und auch dann, wenn eine Person die Gemeinschaft offiziell in öffentlichen oder anderen Bereichen vertritt. Beispiele hierfür sind die Nutzung einer offiziellen E-Mail-Adresse, das Posten über einen offiziellen Social-Media-Account oder das Auftreten als ernannte(r) Vertreter:in bei Online- oder Offline-Veranstaltungen.

## Quellenangabe

Dieser Verhaltenskodex basiert auf dem Contributor Covenant, Version 3.0, dauerhaft verfügbar unter [https://www.contributor-covenant.org/version/3/0/](https://www.contributor-covenant.org/version/3/0/).

Der Contributor Covenant wird von der Organization for Ethical Source betreut und steht unter der CC BY-SA 4.0 Lizenz. Eine Kopie der Lizenz finden Sie unter [https://creativecommons.org/licenses/by-sa/4.0/](https://creativecommons.org/licenses/by-sa/4.0/).

Antworten auf häufige Fragen zum Contributor Covenant finden Sie im FAQ unter [https://www.contributor-covenant.org/faq](https://www.contributor-covenant.org/faq). Übersetzungen sind verfügbar unter [https://www.contributor-covenant.org/translations](https://www.contributor-covenant.org/translations). Weitere Ressourcen zu Gemeinschaftsrichtlinien und deren Durchsetzung finden Sie unter [https://www.contributor-covenant.org/resources](https://www.contributor-covenant.org/resources). Das Eskalationsverfahren wurde inspiriert durch die Arbeit des [Mozilla Code of Conduct Teams](https://github.com/mozilla/inclusion).
{% elif code_of_conduct_lang == 'code_fr' %}

# Code de conduite _Contributor Covenant_

## Notre engagement

En tant que membres, contributeur·trice·s et dirigeant·e·s, nous nous engageons à faire de la participation à notre communauté une expérience sans harcèlement, quel que soit l'âge, la taille, le handicap visible ou non, l'ethnicité, les caractéristiques sexuelles, l'identité et l'expression de genre, le niveau d'expérience, l'éducation, le statut socio-économique, la nationalité, l'apparence, la race, la caste, la couleur de peau, la religion, ou l'identité et l'orientation sexuelle.

Nous nous engageons à agir et interagir de manière à contribuer à une communauté ouverte, accueillante, diversifiée, inclusive et saine.

## Nos critères

Exemples de comportements qui contribuent à créer un environnement positif :

* Faire preuve d'empathie et de bienveillance envers les autres
* Être respectueux des opinions, points de vue et expériences divergents
* Donner et recevoir avec grâce les critiques constructives
* Assumer ses responsabilités et s'excuser auprès des personnes affectées par nos erreurs et apprendre de ces expériences
* Se concentrer sur ce qui est le meilleur non pas uniquement pour nous en tant qu'individu, mais aussi pour l'ensemble de la communauté

Exemples de comportements inacceptables :

* L'utilisation de langage ou d'images sexualisés et d'attentions ou d'avances sexuelles de toute nature
* Le _trolling_, les commentaires insultants ou désobligeants et les attaques personnelles ou d'ordre politique
* Le harcèlement en public ou en privé
* La publication d'informations privées d'autrui, telle qu'une adresse postale ou une adresse électronique, sans leur autorisation explicite
* Toute autre conduite qui pourrait raisonnablement être considérée comme inappropriée dans un cadre professionnel

## Responsabilités d'application

Les dirigeant·e·s de la communauté sont chargé·e·s de clarifier et de faire respecter nos normes de comportements acceptables et prendront des mesures correctives appropriées et équitables en réponse à tout comportement qu'ils ou elles jugent inapproprié, menaçant, offensant ou nuisible.

Les dirigeant·e·s de la communauté ont le droit et la responsabilité de supprimer, modifier ou rejeter les commentaires, les contributions, le code, les modifications de wikis, les rapports d'incidents ou de bogues et autres contributions qui ne sont pas alignés sur ce code de conduite, et communiqueront les raisons des décisions de modération le cas échéant.

## Portée d'application

Ce code de conduite s'applique à la fois au sein des espaces du projet ainsi que dans les espaces publics lorsqu'un individu représente officiellement le projet ou sa communauté. Font parties des exemples de représentation d'un projet ou d'une communauté l'utilisation d'une adresse électronique officielle, la publication sur les réseaux sociaux à l'aide d'un compte officiel ou le fait d'agir en tant que représentant·e désigné·e lors d'un événement en ligne ou hors-ligne.

## Application

Les cas de comportements abusifs, harcelants ou tout autre comportement inacceptables peuvent être signalés aux dirigeant·e·s de la communauté responsables de l'application du code de conduite à [INSÉRER UNE ADRESSE EMAIL].
Toutes les plaintes seront examinées et feront l'objet d'une enquête rapide et équitable.

Tou·te·s les dirigeant·e·s de la communauté sont tenu·e·s de respecter la vie privée et la sécurité des personnes ayant signalé un incident.

## Directives d'application

Les dirigeant·e·s de communauté suivront ces directives d'application sur l'impact communautaire afin de déterminer les conséquences de toute action qu'ils jugent contraire au présent code de conduite :

### 1. Correction

**Impact communautaire** : utilisation d'un langage inapproprié ou tout autre comportement jugé non professionnel ou indésirable dans la communauté.

**Conséquence** : un avertissement écrit et privé de la part des dirigeant·e·s de la communauté, clarifiant la nature du non-respect et expliquant pourquoi le comportement était inapproprié. Des excuses publiques peuvent être demandées.

### 2. Avertissement

**Impact communautaire** : un non-respect par un seul incident ou une série d'actions.

**Conséquence** : un avertissement avec des conséquences dû à la poursuite du comportement. Aucune interaction avec les personnes concernées, y compris l'interaction non sollicitée avec celles et ceux qui sont chargé·e·s de l'application de ce code de conduite, pendant une période déterminée. Cela comprend le fait d'éviter les interactions dans les espaces communautaires ainsi que sur les canaux externes comme les médias sociaux. Le non-respect de ces conditions peut entraîner un bannissement temporaire ou permanent.

### 3. Bannissement temporaire

**Impact communautaire** : un non-respect grave des normes communautaires, notamment un comportement inapproprié soutenu.

**Conséquence** : un bannissement temporaire de toutes formes d'interactions ou de communications avec la communauté pendant une période déterminée. Aucune interaction publique ou privée avec les personnes concernées, y compris les interactions non sollicitées avec celles et ceux qui appliquent ce code de conduite, n'est autorisée pendant cette période. Le non-respect de ces conditions peut entraîner un bannissement permanent.

### 4. Bannissement permanent

**Impact communautaire** : démontrer un schéma récurrent de non-respect des normes de la communauté y compris un comportement inapproprié soutenu, le harcèlement d'un individu ainsi que l'agression ou le dénigrement de catégories d'individus.

**Conséquence** : un bannissement permanent de toutes formes d'interactions publiques au sein de la communauté.

## Attributions

Ce code de conduite est adapté du [Contributor Covenant][homepage], version 2.1,
disponible à [https://www.contributor-covenant.org/version/2/1/code_of_conduct.html][v2.1].

Les Directives d'application ont été inspirées par le [Code of conduct enforcement ladder][Mozilla CoC] de Mozilla.

Pour obtenir des réponses aux questions courantes sur ce code de conduite, consultez la FAQ à [https://www.contributor-covenant.org/faq][FAQ]. Les traductions sont disponibles sur [https://www.contributor-covenant.org/translations][translations].

[homepage]: https://www.contributor-covenant.org
[v2.1]: https://www.contributor-covenant.org/version/2/1/code_of_conduct.html
[Mozilla CoC]: https://github.com/mozilla/diversity
[FAQ]: https://www.contributor-covenant.org/faq
[translations]: https://www.contributor-covenant.org/translations
{% else %}
# Contributor Covenant 3.0 Code of Conduct

## Our Pledge

We pledge to make our community welcoming, safe, and equitable for all.

We are committed to fostering an environment that respects and promotes the dignity, rights, and contributions of all individuals, regardless of characteristics including race, ethnicity, caste, color, age, physical characteristics, neurodiversity, disability, sex or gender, gender identity or expression, sexual orientation, language, philosophy or religion, national or social origin, socio-economic position, level of education, or other status. The same privileges of participation are extended to everyone who participates in good faith and in accordance with this Covenant.


## Encouraged Behaviors

While acknowledging differences in social norms, we all strive to meet our community's expectations for positive behavior. We also understand that our words and actions may be interpreted differently than we intend based on culture, background, or native language.

With these considerations in mind, we agree to behave mindfully toward each other and act in ways that center our shared values, including:

1. Respecting the **purpose of our community**, our activities, and our ways of gathering.
2. Engaging **kindly and honestly** with others.
3. Respecting **different viewpoints** and experiences.
4. **Taking responsibility** for our actions and contributions.
5. Gracefully giving and accepting **constructive feedback**.
6. Committing to **repairing harm** when it occurs.
7. Behaving in other ways that promote and sustain the **well-being of our community**.


## Restricted Behaviors

We agree to restrict the following behaviors in our community. Instances, threats, and promotion of these behaviors are violations of this Code of Conduct.

1. **Harassment.** Violating explicitly expressed boundaries or engaging in unnecessary personal attention after any clear request to stop.
2. **Character attacks.** Making insulting, demeaning, or pejorative comments directed at a community member or group of people.
3. **Stereotyping or discrimination.** Characterizing anyone’s personality or behavior on the basis of immutable identities or traits.
4. **Sexualization.** Behaving in a way that would generally be considered inappropriately intimate in the context or purpose of the community.
5. **Violating confidentiality**. Sharing or acting on someone's personal or private information without their permission.
6. **Endangerment.** Causing, encouraging, or threatening violence or other harm toward any person or group.
7. Behaving in other ways that **threaten the well-being** of our community.

### Other Restrictions

1. **Misleading identity.** Impersonating someone else for any reason, or pretending to be someone else to evade enforcement actions.
2. **Failing to credit sources.** Not properly crediting the sources of content you contribute.
3. **Promotional materials**. Sharing marketing or other commercial content in a way that is outside the norms of the community.
4. **Irresponsible communication.** Failing to responsibly present content which includes, links or describes any other restricted behaviors.


## Reporting an Issue

Tensions can occur between community members even when they are trying their best to collaborate. Not every conflict represents a code of conduct violation, and this Code of Conduct reinforces encouraged behaviors and norms that can help avoid conflicts and minimize harm.

When an incident does occur, it is important to report it promptly. To report a possible violation, **[NOTE: describe your means of reporting here.]**

Community Moderators take reports of violations seriously and will make every effort to respond in a timely manner. They will investigate all reports of code of conduct violations, reviewing messages, logs, and recordings, or interviewing witnesses and other participants. Community Moderators will keep investigation and enforcement actions as transparent as possible while prioritizing safety and confidentiality. In order to honor these values, enforcement actions are carried out in private with the involved parties, but communicating to the whole community may be part of a mutually agreed upon resolution.


## Addressing and Repairing Harm

**[NOTE: The remedies and repairs outlined below are suggestions based on best practices in code of conduct enforcement. If your community has its own established enforcement process, be sure to edit this section to describe your own policies.]**

If an investigation by the Community Moderators finds that this Code of Conduct has been violated, the following enforcement ladder may be used to determine how best to repair harm, based on the incident's impact on the individuals involved and the community as a whole. Depending on the severity of a violation, lower rungs on the ladder may be skipped.

1) Warning
   1) Event: A violation involving a single incident or series of incidents.
   2) Consequence: A private, written warning from the Community Moderators.
   3) Repair: Examples of repair include a private written apology, acknowledgement of responsibility, and seeking clarification on expectations.
2) Temporarily Limited Activities
   1) Event: A repeated incidence of a violation that previously resulted in a warning, or the first incidence of a more serious violation.
   2) Consequence: A private, written warning with a time-limited cooldown period designed to underscore the seriousness of the situation and give the community members involved time to process the incident. The cooldown period may be limited to particular communication channels or interactions with particular community members.
   3) Repair: Examples of repair may include making an apology, using the cooldown period to reflect on actions and impact, and being thoughtful about re-entering community spaces after the period is over.
3) Temporary Suspension
   1) Event: A pattern of repeated violation which the Community Moderators have tried to address with warnings, or a single serious violation.
   2) Consequence: A private written warning with conditions for return from suspension. In general, temporary suspensions give the person being suspended time to reflect upon their behavior and possible corrective actions.
   3) Repair: Examples of repair include respecting the spirit of the suspension, meeting the specified conditions for return, and being thoughtful about how to reintegrate with the community when the suspension is lifted.
4) Permanent Ban
   1) Event: A pattern of repeated code of conduct violations that other steps on the ladder have failed to resolve, or a violation so serious that the Community Moderators determine there is no way to keep the community safe with this person as a member.
   2) Consequence: Access to all community spaces, tools, and communication channels is removed. In general, permanent bans should be rarely used, should have strong reasoning behind them, and should only be resorted to if working through other remedies has failed to change the behavior.
   3) Repair: There is no possible repair in cases of this severity.

This enforcement ladder is intended as a guideline. It does not limit the ability of Community Managers to use their discretion and judgment, in keeping with the best interests of our community.


## Scope

This Code of Conduct applies within all community spaces, and also applies when an individual is officially representing the community in public or other spaces. Examples of representing our community include using an official email address, posting via an official social media account, or acting as an appointed representative at an online or offline event.


## Attribution

This Code of Conduct is adapted from the Contributor Covenant, version 3.0, permanently available at [https://www.contributor-covenant.org/version/3/0/](https://www.contributor-covenant.org/version/3/0/).

Contributor Covenant is stewarded by the Organization for Ethical Source and licensed under CC BY-SA 4.0. To view a copy of this license, visit [https://creativecommons.org/licenses/by-sa/4.0/](https://creativecommons.org/licenses/by-sa/4.0/)

For answers to common questions about Contributor Covenant, see the FAQ at [https://www.contributor-covenant.org/faq](https://www.contributor-covenant.org/faq). Translations are provided at [https://www.contributor-covenant.org/translations](https://www.contributor-covenant.org/translations). Additional enforcement and community guideline resources can be found at [https://www.contributor-covenant.org/resources](https://www.contributor-covenant.org/resources). The enforcement ladder was inspired by the work of [Mozilla’s code of conduct team](https://github.com/mozilla/inclusion).
{% endif %}