# Project Setup

Here is a placeholder for some of the things you'll want to know about setting up your project further.

## {{ project_title }}

You now have a project, here's a quick TODO list of things you can work on:

* [ ] Edit the README file:
    * [ ] Add funding information
    * [ ] Add a little bit more information to the project description.
    * [ ] Add a section called "Deliverables"
{%- if primary_language == 'python' %}
* [ ] Try using `uv run main.py` to make sure things work.
* [ ] Try running `uv run pytest` to make sure your (simple) tests are working.
{%- endif -%}
{%- if primary_language == 'r' %}
* [ ] Try using `R CMD build .` to make sure things work.
* [ ] Try running `Rscript -e 'devtools::test()'` to make sure your (simple) tests are working.
{%- endif -%}
