# {{ project_name }}

{{ project_description }}

<!--
One Paragraph of project description goes here.

This should provide background for your software project,
a brief explanation of what the project is about,
and optionally, pointers to resources that can help orient readers.
-->

## Contribution

This project was developed by:

* [[]]({{ author_orcid }}): {{ author_given }} {{ author_formal }}

Contributions to this repository are expected to follow the [Code of Conduct](CODE_OF_CONDUCT.md).

## Installing this Package

To install `{{ project_name }}` from this GitHub repository, either install using a graphical tool such as GitKraken or GitHub Desktop, or install from the console using:

```bash
git clone https://github.com/{{ project_repository }}/{{ project_name }}.git
cd {{ project_name }}
python -m pip install .
```

## How to Use this Repository

<!--
A short description of how this repository is expected to be used.
-->

## Funding Statement

<!--
A short statement about funding sources.
-->