<!-- badges: start -->
[![lifecycle](https://img.shields.io/badge/lifecycle-{{ lifecycle }}-{{ lifecycle_color }}.svg)]()
{% if award_number %}
{%- for item in award_number.split(',') | map('trim') -%}
[![NSERC](https://img.shields.io/badge/NSERC-{{ award_number }}-red.svg)](https://nserc-crsng.canada.ca/en/awards-database/{{ award_number }})
{% endfor %}
{% endif %}
{% if data_location %}
[![Dataset DOI](https://img.shields.io/badge/DOI-{{ data_location }}-blue.svg)](https://doi.org/{{ data_location }})
{% endif %}
{% if license_type == "MIT" %}
[![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)](https://opensource.org/licenses/MIT)
{% elif license_type == "MPL-2.0" %}
[![License: MPL 2.0](https://img.shields.io/badge/License-MPL_2.0-brightgreen.svg)](https://opensource.org/licenses/MPL-2.0)
{% elif license_type == "Apache-2.0" %}
[![License](https://img.shields.io/badge/License-Apache_2.0-blue.svg)](https://opensource.org/licenses/Apache-2.0)
{% endif %}
<!-- badges: end -->

# {{ project_name }}

{{ project_description }}

<!--
One Paragraph of project description goes here.

This should provide background for your software project,
a brief explanation of what the project is about,
and optionally, pointers to resources that can help orient readers.
-->

## Contribution

This project was developed by:

{% if author_orcid %}
* [![ORCID](https://img.shields.io/badge/ORCID-{{ author_orcid | regex_replace('^https?://orcid\.org/', '') | regex_replace('-', '--') }}-green.svg)]({{ author_orcid }}): {{ author_given }} {{ author_formal }}
{% else %}
* {{ author_given }} {{ author_formal }}
{% endif %}

Contributions to this repository are expected to follow the [Code of Conduct](CODE_OF_CONDUCT.md).

## Installing this Package

To install `{{ project_name }}` from this GitHub repository, either install using a graphical tool such as GitKraken or GitHub Desktop, or install from the console using:

```bash
git clone https://github.com/{{ project_repository }}/{{ project_name }}.git
cd {{ project_name }}
python -m pip install .
```

## How to Use this Repository

<!--
A short description of how this repository is expected to be used.
-->

## Funding Statement

<!--
A short statement about your funding sources.
-->

---

![UBC Logo and name as a wide figure.](assets/ubc-logo-2018-fullsig-blue-rgb72.jpg)