[project]
name = "{{ project_name }}"
version = "{{ project_version }}"
description = "{{ project_description }}"
readme = "README.md"
authors = [
    { name = "{{ author_given }} {{ author_formal }}", email = "{{ author_email }}" }
]
{%- if not (license_type == 'No license') %}
license = "{{ license_type }}"
{%- endif -%}

requires-python = ">=3.12"

dependencies = []

[build-system]
requires = ["uv_build>=0.11.20,<0.12.0"]
build-backend = "uv_build"

[dependency-groups]
dev = [
    "ruff>=0.16.0",
    "pytest>=7.4.0",
    "pytest-cov>=4.1.0",
]

[tool.ruff]
exclude = [
    "data",
    "assets",
    "docs"
  ]

[tool.pytest.ini_options]
testpaths = [
    "tests"
  ]
 addopts = ["--maxfail=5", "-rf"]
 console_output_style = "progress"
 max_warnings = 5
 strict = true

[tool.coverage.run]
branch = true

[tool.coverage.html]
directory = "coverage_html_report"

[tool.coverage.report]
fail_under = 70
format = "markdown"
skip_empty = true
