

---
title: {{ project_title }}
date: {{ project_date }}
author:
  - name: {{ author_given }} {{ author_formal }}
    id: auta
    orcid: {{ author_orcid }}
    email: {{ author_email }}
    affiliation: 
      - name: University of British Columbia
        city: Vancouver
        state: BC
        url: www.ubc.ca
abstract: > 
  {{ project_abstract }}
keywords:
  - Dairy
license: {{ license_type }}
copyright: 
  holder: {{ author_given }} {{ author_formal }}
  year: {{ project_date }}
citation: 
  container-title: Journal Name
  volume: 0
  issue: 0
  doi: ''
funding: "The author received no specific funding for this work."
---

## Introduction

Here's my introduction.