
---
title: {{ project_title }}
date: {{ project_date }}
author:
  - name: {{ author_given }} {{ author_formal }}
    id: auta
    orcid: {{ author_orcid }}
    email: {{ author_email }}
    affiliation: 
      - name: {{ author_affilitation }}
        {% if not ( author_ror | regex_search("^https://ror.org/000000000$")) %}ror: {{ author_ror }}{% endif %}
abstract: > 
  {{ project_abstract }}
keywords:
  - Dairy
license: {{ license_type }}
copyright: 
  holder: {{ author_given }} {{ author_formal }}
  year: {{ project_date }}
citation: 
  container-title: Journal Name
  volume: 0
  issue: 0
  doi: ''
{% if not author_award %}funding: >-
  The author received no specific funding for this work.
{% else %}funding:
  - award: <List awards here>
{% endif %}
---

## Introduction

Here's my introduction.