
# Ignore this repo's own editor folder, but not the template's (template/.vscode).
/.vscode/

# Uncomment the following line to ignore the data/raw directory.
# data/raw/

.ctt/
.venv
codeql-custom-queries-python/

site/
