# Contribute to the project

Contributions and issues are most welcome! All issues and pull requests are
handled through [GitHub](https://{{git_platform}}/{{ project_repository }}/{{ project_name }}/issues). 

Please check for existing issues before filing a new one. If you have a great idea but it involves big changes, please
file a ticket before making a pull request! We want to make sure you don't spend
your time coding something that might not fit the scope of the project.

## Code Cleanliness

Before you submit any pull reqests, please use tools like `ruff` and `codecov` to check test coverage and code style for your contributions.

## Developer Information

It is recommended that developers use a [vscode devcontainer](https://code.visualstudio.com/docs/devcontainers/containers). This repository contains configuration to set up a containerized development environment that suits its own needs.
